<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>demo</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/home.css">

</head>

<body background="img/bg.png">
		</br></br>
		<center>
			<h2 ><font color="white">The Prediction System of Container Freight Indices</font></h2>
			<h3 ><font color="white" id="wel">Welcome:</font></h3>
			</br>
		</center>
		<center>
		</br>
		</br>
		</br>
		</br>
		    <select name="list"  class = "form-control" style="width:40%"> 
		        <option   value= "title" style="font-weight:bold">Please Choose a line of Container</option>
		    </select></br></br>
		<input type="date" class="form-control" id="startTime" style="width:40%"></br></br>
		<input class="btn btn-primary" type="button" value="Submit" id="submit"></input>
		<input class="btn btn-primary" type="button" value="logout" id="logout"></input>
		<!-- <input type="text" class="form-control" style="width:30%" id="output" placeholder="输出"></input> -->

		</center>

 

	<script type="text/javascript" src="js/jquery1.9.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
</body>
</html>